Assets/UnityVS/Editor.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Assets/UnityVS.meta
obj/Debug/UnityVS.Packman.CSharp.csproj.FileListAbsolute.txt
Temp/
